@import 'bootstrap/dist/css/bootstrap.min.css';

.penguin {
	position: relative;
}
.penguin img {
	position: absolute;
	/*width: 100%;*/
}
.inventory {
	position: relative;
}
.itemList {
	height: 520px;
	overflow: auto;
}
